@import "tailwindcss";

/* Container responsive tùy chỉnh */
.container-responsive {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1260px) {
  .container-responsive {
    width: calc(1260px - 60px);
  }
}

@media (min-width: 1920px) {
  .container-responsive {
    width: calc(1920px - 492px);
  }
}

/* Các utility khác */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.white-icon {
  filter: brightness(0) invert(1);
}
