@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 1260px) {
  .custom-laptop-width {
    width: calc(1260px - 60px);
  }
}

@media (min-width: 1920px) {
  .custom-desktop-width {
    width: calc(1920px - 60px);
  }
}
